.container-boost{
    border: 1px solid beige;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
    margin-top: 100px;
    height: fit-content;
}
.card{
    height: 300px;
}
.card-body{
    height: 100px;
}
.card-title{
    padding-top: 50px;
}