     <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                              <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/intoyou@2x.png">
                            </div>
                            <div class="col-md-9">
                              <h4 class="mt-5">See who likes you </h4>
                              <p>Get the full list of people who like you! We’ll also point them out on Profile and Discover. </p>
                          </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                              <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/questions@2x.png">
                            </div>
                            <div class="col-md-9">
                              <h4 class="mt-5">See all question answers</h4>
                              <p>See responses to questions you haven’t answered yet</p>
                          </div>
                         
                        </div>

                        <hr>

                          <div class="row">
                              <div class="col-md-3">
                                <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/unlimited_likes_2020@2x.png">
                              </div>
                              <div class="col-md-9">
                                <h4 class="mt-5">Send unlimited likes</h4>
                                <p>Increase your matches with unlimited likes. </p>
                            </div>
                           
                          </div>
                          
                          <div class="row">
                            <div class="col-md-3">
                              <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/dealbreakers@2x.png">
                            </div>
                            <div class="col-md-9">
                              <h4 class="mt-5">Dealbreakers</h4>
                              <p>Filter out the people who don’t fit exactly what you’re looking for.</p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                              <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/intros@2x.png">
                            </div>
                            <div class="col-md-9">
                              <h4 class="mt-5">Unlock your intros</h4>
                              <p>Skip the wait & view all the intros you’ve received at once </p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                              <img  class="mt-4" height="80" src="https://cdn.okccdn.com/media/img/sprites/upgrade-2017/no_ads@2x.png">
                            </div>
                            <div class="col-md-9">
                              <h4 class="mt-5">Never see ads</h4>
                              <p>Like and match without the ads</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card mt-5">
                              <img class="card-img-top" src="holder.js/100x180/" alt="">
                              <div class="card-body">
                                  <h4 class="card-title text-center"><b>3 months</b></h4>
                                  <p class="card-text">
                                       <h2 class="text-center label-upgrade-price  mt-4">RS 4,897.36 / month</h2> 
                                       <h6 class="text-center label-upgrade-save text-bold mt-2"><span class="badge badge-danger">Save 33%</span></h6>   
                                     <button class="btn btn-primary btn-block btn-lg mt-4">Purchase</button>
                                  
                              </div>
                          </div>
                          <div class="card mt-5">
                            <img class="card-img-top" src="holder.js/100x180/" alt="">
                            <div class="card-body">
                                <h4 class="card-title text-center "><b>6 months </b></h4>
                                <p class="card-text">
                                     <h2 class="text-center label-upgrade-price  mt-4">RS 5,897.36 / month </h2> 
                                     <h6 class="text-center label-upgrade-save text-bold mt-2"><span class="badge badge-danger">Save 50%</span>  <br>
                                        <i class="fas fa-fire-alt mt-4"></i> Most popular </h6> 
                                   <button class="btn btn-primary btn-block btn-lg mt-4">Purchase</button>
                                
                            </div>
                        </div>
                        <div class="card mt-5">
                            <img class="card-img-top" src="holder.js/100x180/" alt="">
                            <div class="card-body">
                                <h4 class="card-title text-center"><b>12 months</b></h4>
                                <p class="card-text">
                                     <h2 class="text-center label-upgrade-price  mt-4">RS 7,897.36 / month</h2> 
                                     <h6 class="text-center label-upgrade-save text-bold mt-2"><span class="badge badge-danger">Save 33%</span></h6>   
                                   <button class="btn btn-primary btn-block btn-lg mt-4">Purchase</button>
                                
                            </div>
                        </div>
                    
                    </div>
                  </div>

              </div>
              