<div class="container-fluid mt-5">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <app-side-nav></app-side-nav>
            </div>

            <div class="col-md-10">
                <br /><br /><br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inbox-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4 id="inbox-header-label" class="mt-2">Inbox</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-0">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="" [(ngModel)]="search" class="form-control"
                                                        placeholder="Enter username" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inbox-body">
                                <div *ngFor="let user of users | filter: search">
                                    <hr />
                                    <div routerLink="/inbox/u/{{ user.conversation.receiver.id }}/{{ user.conversation.roomId }} ">
                                        <div class="container-user-list">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-12">
                                                        <img class="inbox-image" src="{{  user.conversation.receiver.profilePhoto }}" height="60" />
                                                    </div>
                                                    <div class="col-md-9 col-xs-12">
                                                        <h3 class="label-header ml-5">
                                                            {{ user.conversation.receiver.username }}
                                                        </h3>
                                                        <p class="label-message ml-5">
                                                            {{ user.conversation.message }}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button (click)="deleteUser(user.id)" class="btn btn-light"><i class="fa fa-trash-o"></i>Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="container container-chat">
                                <div class="chat-header">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button class="btn btn-light btn-lg" routerLink="/inbox">
                                                <i class="fa fa-arrow-left"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-8">
                                          
                                                <h2 class="text-center"></h2>
                                         
                                          
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="chat-body">
                                    <div *ngFor="let message of privateMessages">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div *ngIf=" message.conversation.sender.username != authenticatedUser ">
                                                        <div class="row">
                                                            
                                                         
                                                            <div class="col-md-1">
                                                                <img src="{{message.conversation.sender.profilePhoto }}" height="50" />
                                                            </div>
                                                            <div class="col-md-9">
                                                                <p id="message-body-receiver">
                                                                    {{ message.conversation.message }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf=" message.conversation.sender.username ==authenticatedUser " class="mt-3">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <p id="message-body-sender">
                                                                    {{ message.conversation.message }}
                                                                </p>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <img src="{{ message.conversation.sender.profilePhoto  }}" height="50" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button (click)="deleteUserMessage(message.id)" class="btn btn-light"><i class="fa fa-trash-o"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="chat-footer">
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-8">
                                            <textarea [(ngModel)]="message" class="form-control"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="sendPrivateMessage()"
                                                class="btn btn-success btn-lg btn-block button-send">
                                                <i class="fa fa-send"></i> Send Message
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner size="medium" color="#00C9A7" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>