<hr>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
          

            <div class="col-lg-10"  >
                <br>
                <nav class="navbar navbar-light " id="sub-navbar"  >
                    <button class="btn btn-light" [routerLink]="[ '/profile',  ]"> <i class="fa fa-arrow-left"></i></button>
                    <h6 class="navbar-brand " id="navbar-brand-header " href="#">Your Photos</h6>
         
                    <form class="form-inline">
                   
                        <button type="button ml-2" class="btn btn-light" data-toggle="modal" data-target="#photoModal">
                            <i class="fa fa-edit"></i>
                        </button>
                     
                    </form>
                </nav>
                <div class="container">

                   <h2 class="selfviewPhotos-title ml-4"></h2>
                    <div class="col-12">
                        <div class="row">
                                <div class="col-6">
                                    <div class="container-fluid">
                                     
                                        <div *ngFor="let photo of photos">
                                            <img  class="selfviewPhotos-photo-image  img-thumbnail"src="{{photo.photoUrl}}" height="200" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                  <div class="photo-rules-card">
                                      <h2 class="photo-rules-header">Photo Rules</h2>
                                      <h5>Post great photos like these</h5>
                                      <h6>You'll get more dates</h6>
                                      <hr>
                                        <h6>Doing something ✅</h6>
                                        <img  height="100"src="https://www.kindpng.com/picc/m/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png">
                                        <h6>Your face</h6>
                                        <img height="100" src="https://i.ytimg.com/vi/l0W2e1mGntQ/maxresdefault.jpg">
                                        <h6>Your  doing something  ✅ </h6>

                                        <h5 class="mt-4">NOT photos like these</h5>
                                        <h6 >You'll get banned </h6>
                                        <hr>
                                        <img src="https://www.clipartkey.com/mpngs/m/31-312215_kiss-clipart-transparent-background-lips-icon-png.png" height="100">
                                         <h6 class="mt-1">Porn / Nudity ❌</h6>
                                         <img src="https://img.icons8.com/bubbles/2x/visible--v2.png"  class="mt-1" height="100">
                                         <h6 class="mt-1">Extreme Closeups  ❌</h6>
                                         <img src="https://i.pinimg.com/736x/9d/4b/7f/9d4b7fb1195c2dae0fc6f6e0913491cc.jpg" class="mt-1" height="100">
                                         <h6 class="mt-1">Pets / Children Alone ❌</h6>
                                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTQBPBIdFmRlkwxuMYMbN-BdpdBpDHJzQAkY-vZTbCpYHJLcSKQQHvik4I1RFgBGIHwyA&usqp=CAU" class="mt-1" height="100">
                                         <h6 class="mt-1">Celebrity  / Fake Photos ❌</h6>
                                         <img src="https://static.thenounproject.com/png/105264-200.png" class="mt-1"height="100">
                                         <h6 class="mt-1">Meme / Text / ads ❌</h6>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>

            </div>
        </div>
</div>
