.upgrade-header{
    width: 100%;
    height: 100%;
    color: #333;
    text-align: center;

}
.upgrade-body{

    width: 100%;
    height: 100%;
}

.label-upgrade-price{
    color: black;
}
.text-red{
    color:#dc3545;
}